div#contact {
	form {
		textarea {
			height: 15em;
		}
	}
}
div#testimonial {
	height: calc(100% - 15px);
	display: flex;
	align-items: center;
	div.container {
		padding-left: 40px;
		padding-right: 40px;
		text-align: center;
	}
}
