html {
	font-size: $size_font_root;
}
body {
	font-family: $font_body;
	color: $color_body;
	line-height: 1.7;
	overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: 700;
	color: $color_headers;
}
a {
	color: $color_green;
	&:hover, &:active, &:focus {
		color: darken($color_green, 10);
	}
}
main {
	padding-top: 67px;
}
span.logo {
	font-family: $font_logo;
	text-transform: uppercase;
	color: $color_green;
	font-weight: 700;
	@include font_smoothing;
}
div.full-width-block {
	@include image_block;
}
div.full-width-blank-block {
	@include block;
}
*.berlinermowing-hide {
	position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
	opacity: 0;
}
*.berlinermowing-content {
	max-width: $size_max_content;
	margin-left: auto;
	margin-right: auto;
}
