header#main-header {
  display: flex;
  flex-direction: column-reverse;
	nav.navbar {
		background-color: $color_black;
		padding-left: 0;
		padding-right: 0;
		transition: .5s background-color;
		.navbar-brand {
			font-size: 1.5rem;
		}
	}
  .update-notice {
    background-color: $color_white;
    padding: 40px 0;
    transition: .5s all;
    .lead {
      line-height: 1.4;
      a {
        white-space: nowrap;
      }
    }
    .logo {
      line-height: initial;
    }
  }
}
